@import "variables";



html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0 auto;
    max-width: 1600px;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: 1.5;
}
h1, h2, h3 {
    color: $darkGrayishBlue;
    margin: 0;
}
p{
    color: $grayishBlue;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
button, .btn { 
    width: 224px;
    height: 57px;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .2s;
    text-align: center;

    &:hover {
        opacity: 0.7;
    }
}
.btn-ios {
    background-color: $strongCyan;
    
    &:focus {
        box-shadow:inset 0 -.25rem 0 rgba(0,0,0,.1),0 0 1px .15rem #fff,0 0 1px .3rem $strongCyan;
    }
}

.btn-mac {
    background-color: $lightBlue;
    @include breakpoint-down(small) {
        width: 100%;
    }
    &:focus {
        box-shadow:inset 0 -.25rem 0 rgba(0,0,0,.1),0 0 1px .15rem #fff,0 0 1px .3rem $lightBlue;
    }
}
.header {
    //height: 100vh;
    background: url('../images/bg-header-desktop.png') no-repeat top;
    padding: 8.5rem 3.75rem 7.5rem;
    @include breakpoint-down(small) {
        padding: 8.25rem 1.25rem 7.5rem;    
        background: url('../images/bg-header-mobile.png') no-repeat top;
        background-size: 100%;
    }
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5625rem;
        @include breakpoint-down(medium) {
            
            gap: 2.5rem;
        }
        .logo {
            margin-bottom: 1.25rem;
        }

        .header-text {
            text-align: center;
            width: 43.75rem;
            @include breakpoint-down(medium) {
                width: 100%;
            }
            h1 {
                font-size: 2.8rem;
                font-weight: 600;
                @include breakpoint-down(medium) {
                    font-size: 2rem;
                }
            }
            p {
                font-size: 1.25rem;
                @include breakpoint-down(small) {
                    font-size: 1rem;
                }
            }
        }
        .header-button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
            @include breakpoint-down(small) {
                
                flex-direction: column;
            }
            .btn-ios {
                background-color: $strongCyan;
                
                &:focus {
                    box-shadow:inset 0 -.25rem 0 rgba(0,0,0,.1),0 0 1px .15rem #fff,0 0 1px .3rem $strongCyan;
                }
            }
            .btn-mac {
                background-color: $lightBlue;
                @include breakpoint-down(small) {
                    width: 100%;
                }
                &:focus {
                    box-shadow:inset 0 -.25rem 0 rgba(0,0,0,.1),0 0 1px .15rem #fff,0 0 1px .3rem $lightBlue;
                }
            }
        }
    }
}

.desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.875rem 0;
    &__title {
        text-align: center;
        width: 43.75rem;
        @include breakpoint-down(medium) {
            width: 100%;
        }
        h1 {
            font-size: 2.2rem;
            @include breakpoint-down(small) {
                font-size: 1.8rem;
            }
        }
    }
    .desktop__computer {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2.5rem;
        margin-top: 4.75rem;
        @include breakpoint-down(small) {
           flex-direction: column;
           gap: 0.625rem;
           padding: 0 0.625rem 0;
        }
        &--img {
            
            img {
                width: 57.8125rem;
                height: 100%;
                transform: translateX(-4.5rem);
                @include breakpoint-down(medium) {
                    
                    transform: translateX(0rem);
                }
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            gap: 2.1875rem;
            @include breakpoint-down(medium) {
               text-align: center;
            }
            .title--1, .title--2,.title--3 {
                width: 70%;
                h3 {
                    font-size: 1.4rem;
                }
                @include breakpoint-down(medium) {
                    width: 100%;
                }
            }
        }
    }
}

.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6.5rem 0 0;
    &__text {
        text-align: center;
        width: 43.75rem;
        @include breakpoint-down(medium) {
            width: 100%;
        }
        h2 {
            font-size: 2.2rem;
            @include breakpoint-down(small) {
               
                font-size: 1.6rem;
            }
        }
    }
    &__image {
        margin-top: 5rem;
        @include breakpoint-down(small) {
               
            margin: 2.5rem;
        }
    }
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.4375rem;
    &__text {
        text-align: center;
        h2 {
            font-size: 2.2rem;
        }
    }
    &__img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.25rem;
        @include breakpoint-down(small) {
               
          flex-direction: column;
        }
        &--1, &--2, &--3 {
            width: 27%;
            @include breakpoint-down(small) {
               
                width: 70%;
            }
             img {
                 margin-bottom: 1.5625rem;
             }
        }
    }
}

.sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12.5625rem 1.25rem;
    gap: 6.125rem;
    @include breakpoint-down(small) {
        flex-direction: column;
    }
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.1875rem;
    &__text {
        text-align: center;
        width: 37.5rem;
        @include breakpoint-down(small) {
            width: 90%;
        }
        h1 {
            font-size: 2.2rem;
        }
    }
    &__button {
        display: flex;
        flex-direction: row;
        @include breakpoint-down(small) {
           flex-direction: column;
        }
        gap: 1.25rem;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 12.1875rem 7.5rem 1.25rem;
    @include breakpoint-down(medium) {
        padding: 13.1875rem 1.25rem 1.25rem;
     }
     @include breakpoint-down(small) {
        flex-direction: column;
        gap: 1.25rem;
     }
    .footer {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 6.25rem;
        @include breakpoint-down(small) {
            flex-direction: column;
            text-align: center;
            gap: 1.875rem;
         }
        &__logo {
            img {
                width: 3.75rem;
            }
        }
        &__links, &__more-links {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            a {
                color: $darkGrayishBlue;
                &:hover {
                    color: $strongCyan;
                }
            }
        }
        &__guide {
            align-self: flex-start;
            @include breakpoint-down(small) {
               align-self: center;
             }
            a {
                color: $darkGrayishBlue;
                &:hover {
                    color: $strongCyan;
                }
            }
        }
    }
    .social__icons {
        a {
            &:not(:last-of-type) {
                padding-right: 1.25rem;
            }
        }
    }
}